@media screen and (min-width: 425px) and (max-width: 426px) {
    header {
        margin: 100px 120px 50px 300px;
    }
    nav, .nav-container {
        flex-direction: column;
    }
    .logo-container {
        flex-direction: row;
    }
    .goat-container {
        flex-direction: column;
        column-gap: 50px;
        margin: 100px 120px 50px 100px;
    }
    .goat-info-container{
        width: 100%;
        /* margin: 100px 120px 50px 0px; */
    }
    .goat-pic-container { 
        margin: 150px 45px 50px 0px;
    }
    .goat-pic {
        width: 360px;

    }
}