@media screen and (min-width: 425px) and (max-width: 426px) {
    header {
        margin: 50px 90px 50px 140px;
    }
    nav, .nav-container {
        flex-direction: column;
    }
    .logo-container {
        flex-direction: row;
    }
    .goat-container {
        flex-direction: column;
        column-gap: 50px;
        margin: 50px 100px 50px 100px;
    }
    .goat-info-container{
        width: 100%;
        background-size: contain;
        background-position: 400px 500px;
        margin: 10px auto;
        align-items: center;
    }
    .goat-pic-container { 
        margin: 20px 80px 50px 15px;
    }
    .goat-pic {
        padding-left: 70px;
        width: 360px;
    }
    .play-instantly{
        flex-direction: column; 
        align-items: center;
        margin: 500px 0px 50px 150px;
    }
    .play-info-container> .play-title, .play-des{
        text-align: center;
    }
    .absolute {
        width: 140px;
        height:210px;
    }
    .relative{
        width: 320px; 
        height: 380px;
    }

















    footer{
        margin-top: 700px;
        margin-left: 0px;
        width: 477px;
    }
    .footer-content, .social-icons {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .policy {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
    .copy-right {
        text-align: center;
        text-size-adjust: 80%;
        width: 160px;
        height: 30px;
        display: grid;
        grid-template-rows: 1fr;
    }
    
}